body
{
	color:#E6E6E6;	
	background:#000000;
	font-family:"Soul_Font";
}

h1, h2
{
	text-align:center;
	font-family:"OptimusPrinceps";
}

h1, h4
{
	color:#F4FA58;
}

h2
{
	color:#FFFFFF;
}

p
{
	color:#FF0000;
	text-align:justify;
}

hr
{
	border:0;
	width:50%;
	height:1px;
	background:#BDBDBD;
}

a
{
	color:#E6E6E6;
	text-decoration:none;
}

a:hover   
{
	background:#DF7401;
}

ul
{
	list-style-type:none;
}

table
{
	border:0;
	width:80%;
	height:600px;
	padding:50px;
	margin-left:200px;
	margin-right:200px;
}

#H
{
	background:url(../images/YD.jpg);
	background-size:100% 155%;
}	

#I
{
	background:url(../images/I.jpg);
	background-size:100% 100%;
}

#D
{
	background:url(../images/D.jpg);
	background-size:100% 100%;
	padding-bottom:180px;
}

#D1
{
	background:url(../images/D1.jpg);
	background-size:100% 100%;
}

#D2
{
	background:url(../images/D2.jpg);
	background-size:100% 100%;
}

#D3
{
	background:url(../images/D3.jpg);
	background-size:100% 100%;
	padding-bottom:87px;
}

#BB
{
	background:url(../images/BB.jpg);
	background-size:100% 100%;
}

#Date
{
	color:#E6E6E6;
	text-align:right;
}