body
{
	font-family:"Soul_Font";
	background:#000000;
	color:#FFFFFF;
}

h1, h2
{
	font-family:"OptimusPrinceps";
	text-align:center;
}

h1, h4
{
	color:#F4FA58;
}

p
{
	text-align:justify;
	color:#FF0000;
}

hr
{
	background:#BDBDBD;
	height:1px;
	width:50%;
	border:0;
}

a
{
	text-decoration:none;
	color:#FFFFFF;
}

a:hover   
{
	color:#DF0101;
}

table
{
	margin-right:200px;
	margin-left:200px;
	padding:50px;
	height:600px;
	width:80%;
}

#H
{
	background:url(../images/YD.jpg);
	background-size:100% 155%;
}	

#I
{
	background:url(../images/I.jpg);
	background-size:100% 100%;
}

#D
{
	background:url(../images/D.jpg);
	background-size:100% 100%;
	padding-bottom:180px;
}

#D1
{
	background:url(../images/D1.jpg);
	background-size:100% 100%;
}

#D2
{
	background:url(../images/D2.jpg);
	background-size:100% 100%;
}

#D3
{
	background:url(../images/D3.jpg);
	background-size:100% 100%;
	padding-bottom:87px;
}

#BB
{
	background:url(../images/BB.jpg);
	background-size:100% 100%;
}

#Date
{
	text-align:right;
	color:#FFFFFF;
}